<!--Thymeleaf expressies:
• ${...} Data lezen die je kreeg van de controller.
            - @PathVariable
            - attribuutName van een modelAndView
            - lezen van een variabele van een iteratie over een data array van een controller (th:each)

• *{...} Attribuut lezen van een object dat je aangaf met th:object.
• @{...} URL maken.

• th:text       th:text="${...}", vervangt de tekst tussen een element door de data die je
                van de controller doorkreeg.

• th:object     th:object="${...}", geeft aan dat je van de data die je van de controller doorkreeg,
                attributen gaat lezen. Dit wordt in het element en al zijn child elementen toegepast.
                th:text="*{...}", leest een attribuut van de data in th:object.

• th:each       th:each=" ... : ${...}", itereert over de array die je meegeeft in ${...},
                ... wordt gedefinieerd als variabele. Later kunnen we die variabele aanspreken mbv.
                th:text="${...}" om de data van de verschillende elementen van de array voor te stellen.

• th:if       <td><th:block th:if="*{...}">...</th:block></td>, het attribuut na th:if is een boolean.
              th:if controleert of de waarde true is, als dit zo is zal html het stuk text tussen de
              elementen tonen.

              The th:if = "${condition}" attribute can evaluate more than simple boolean variables and statements.
              It will also return true according to these rules:

              If condition is a boolean or statement and true.
              If condition is a non-zero number or character.
              If condition is a string that is NOT "false", "off", or "no".
              If condition is a data type other than a boolean, number, character, or String.

              th:if will evaluate to false whenever condition is null.

• th:block    <th:block></th:block> dient om Thymeleaf attribute toe te passen.
              De elementen tussen th:block hebben geen nut voor de browser.

• th:href     th:href="@{/...}", bevat de url van de link of bestand dat je wil aanspreken.
              / staat voor de root URl van je website.

• th:replace th:replace=" ... :: ... ", vervangt het huidige element waar dit in word meegegeven,
              door het element dat in het bestand aangegeven met de eerste ..., gevolgd door de naam
              in de laatste ...
              <nav th:replace="fragments::menu"></nav>
              Thymeleaf vervangt het huidig <nav> element door het th:fragment met de naam menu in het
              bestand fragments(.html).-->

<!DOCTYPE html>
<!--Je associert de prefix th met de URI van de Thymeleaf library (http://www.thymeleaf.org)
 Met de prefixcode neem je later (if, for, text, block, ...) op in de pagina.-->
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--het head element wordt vervangen door het head element in fragments.html
we geven 'Saus alfabet' mee als titel-->
<head th:replace="fragments::head(title='Saus alfabet')"></head>
<body>
<!--het nav element wordt vervangen door het nav element in fragments.html-->
<nav th:replace="fragments::menu"></nav>
<h1>Alfabet</h1>
<!--met class spreken we css aan om ervoor te zorgen dat de letters naast elkaar staan ipv onder elkaar-->
<ul class ="naastMekaar">
    <!--we iteren met th:each over de data van ${alfabet}, de data is een array van letters
    eenLetter wordt een aanspreekbare variabele met ${...} in het element li-->
    <li th:each="eenLetter:${alfabet}">
        <!--er wordt voor elke letter van de array alfabet een link aangemaakt die tekst van de letter
        bevat-->
        <a th:href="@{/sauzen/alfabet/{letter}(letter=${eenLetter})}"
           th:text="${eenLetter}"></a>
    </li>
</ul>
<!--${booleanLetter} heeft al data een boolean dit wordt bepaald dankzij een if functie in
SauzenController.java onder de functie findByBeginNaam.
Als de letter een letter van het alfabet is heeft de boolean de waarde true-->
<th:block th:if="${booleanLetter}">
    <!--we plaatsen de waarde van de path variabele tussen de tekst-->
    <h2>Sauzen die beginnen met <th:block th:text="${letter}"></th:block>:</h2>
    <!--${sauzen} is een stream van alle sauzen die beginnen met de letter van de path variabele
     van die sauzen vragen we om de naam in een lijst te zetten.-->
    <ul><li th:each="saus:${sauzen}" th:text="${saus.naam()}"></li></ul>
</th:block>
<!--${booleanLetter} heeft al data een boolean dit wordt bepaald dankzij een if functie in
SauzenController.java onder de funcite findByBeginNaam.
Als de letter een letter van het alfabet is heeft de boolean de waarde true
th:unless controleert of de waarde van de boolean false is.-->
<th:block th:unless="${booleanLetter}">
    <!--we plaatsen de waarde van de path variabele tussen de tekst-->
    <h2>Het symbool ' <th:block th:text="${letter}"></th:block> ' is geen onderdeel van het alfabet.</h2>
</th:block>
</body>
</html>