<!--Thymeleaf expressies:
• ${...} Data lezen die je kreeg van de controller.
            - @PathVariable
            - attribuutName van een modelAndView
            - lezen van een variabele van een iteratie over een data array van een controller (th:each)

• *{...} Attribuut lezen van een object dat je aangaf met th:object.
• @{...} URL maken.

• th:text       th:text="${...}", vervangt de tekst tussen een element door de data die je
                van de controller doorkreeg.

• th:object     th:object="${...}", geeft aan dat je van de data die je van de controller doorkreeg,
                attributen gaat lezen. Dit wordt in het element en al zijn child elementen toegepast.
                th:text="*{...}", leest een attribuut van de data in th:object.

• th:each       th:each=" ... : ${...}", itereert over de array die je meegeeft in ${...},
                ... wordt gedefinieerd als variabele. Later kunnen we die variabele aanspreken mbv.
                th:text="${...}" om de data van de verschillende elementen van de array voor te stellen.

• th:if       <td><th:block th:if="*{...}">...</th:block></td>, het attribuut na th:if is een boolean.
              th:if controleert of de waarde true is, als dit zo is zal html het stuk text tussen de
              elementen tonen.

              The th:if = "${condition}" attribute can evaluate more than simple boolean variables and statements.
              It will also return true according to these rules:

              If condition is a boolean or statement and true.
              If condition is a non-zero number or character.
              If condition is a string that is NOT "false", "off", or "no".
              If condition is a data type other than a boolean, number, character, or String.

              th:if will evaluate to false whenever condition is null.

• th:block    <th:block></th:block> dient om Thymeleaf attribute toe te passen.
              De elementen tussen th:block hebben geen nut voor de browser.

• th:href     th:href="@{/...}", bevat de url van de link of bestand dat je wil aanspreken.
              / staat voor de root URl van je website.

• th:replace th:replace=" ... :: ... ", vervangt het huidige element waar dit in word meegegeven,
              door het element dat in het bestand aangegeven met de eerste ..., gevolgd door de naam
              in de laatste ...
              <nav th:replace="fragments::menu"></nav>
              Thymeleaf vervangt het huidig <nav> element door het th:fragment met de naam menu in het
              bestand fragments(.html).

• th:action     th:action=@{...} het attribuut action van het HTML-element form wordt omgezet naar
                th:action het geeft aan naar waar de browser het get request
                verstuurd (url). Als je de form ingeeft wordt de url gevolgd door een QueryString.
                p98/125 Spring fundamentals.

• th:field      th:field=*{...}  verwijst naar het ... attribuut (membervariabele) van het form object
                Thymeleaf stuurt HTML met volgend <input...> element naar de browser:
                <input id="naam membervariabele" name="naam membervariabele"
                value="waarde toegekend in de controller" autofocus>

• th:error      the:error=*{...} laat foutmeldingen zien die plaatsvinden.
                We vervangen de foutmelding die java werpt door een eigen geschreven tekst in
                het bestand messages.properties-->
<!DOCTYPE html>
<!--Je associert de prefix th met de URI van de Thymeleaf library (http://www.thymeleaf.org)
 Met de prefixcode neem je later (if, for, text, block, ...) op in de pagina.-->
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--th:replace vervangt het head element met het head element van fragments.html met als onderwerpt head
We geven als titel 'taal' mee door-->
<head th:replace="fragments::head(title='taal')"></head>
<body>
<!--th:replace vervangt het nav element met het nav element van fragments.html met als onderwerpt menu-->
<nav th:replace="fragments::menu"></nav>
<h1>U spreekt
    <!--We controleren of de language in request headers in het nederlands is.
    Als dit niet zo is wordt het woordt geen mee opgenomen in de tekst van h1-->
    <th:block th:if="not ${nederlands}">geen </th:block>Nederlands.
</h1>
</body>
</html>